<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物清单</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="stylesheet" href="./css/element-plus/index.css">
    <script src="./scripts/vue.global.js"></script>
    <script src="./scripts/element-plus/index.full.js"></script>
    <script src="./scripts/element-plus/zh-cn.js"></script>
    <script src="./scripts/element-plus/icons-vue.js"></script>
    <script src="./scripts/vue-qrcode-reader.umd.min.js"></script>
    <script src="./scripts/font-awesome/all.min.js"></script>
    <link rel="manifest" href="/manifest.json">
</head>

<body>
<div id="app" class="container">
    <div class="menu-bar">
        <div class="actions">
            <el-button link type="primary" class="action-btn" @click="showAddDialog">
                <el-icon size="23">
                    <Plus />
                </el-icon>
            </el-button>
            <el-button link type="primary" class="action-btn" @click="showScanDialog">
                <el-icon size="23">
                    <Camera />
                </el-icon>
            </el-button>
            <el-button link type="danger" class="action-btn" @click="cleanList">
                <el-icon size="23">
                    <Delete />
                </el-icon>
            </el-button>
        </div>
    </div>

    <el-card shadow="never" class="total-card">
        <h1 id="hint-text">总价格</h1>
        <el-statistic :value="realTotalPrice" :precision="2" @click="showDiscountDialog"
                      group-separator="," decimal-separator="." prefix="¥" :class="priceColorClass" id="big-price">
        </el-statistic>
        <el-statistic :value="totalPrice" class="discount-price" v-if="ifDiscount" :precision="2"
                      group-separator="," decimal-separator="." prefix="原价 ¥">
        </el-statistic>
    </el-card>

    <div class="item-list" id="item-list">
        <div v-if="shoppingList.length === 0" class="placeholder">您的购物清单为空</div>
    </div>
    <div class="item-list">
    <el-table v-if="shoppingList.length !== 0" :data="shoppingList" style="width: 100%" height="70vh"
              @row-click="handleRowClick">
        <el-table-column label="商品" width="250">
            <template #default="scope">
                <div style="display: flex; align-items: center;">
                    <el-avatar
                            :style="{ backgroundColor: getAvatarColor() , color: '#fff', marginRight: '10px' }"
                    >
                        {{ scope.row.name.charAt(0) }}
                    </el-avatar>
                    <div class="item-info">
                        <span class="item-name">{{ scope.row.name }}</span>
                        <span class="item-quantity">× {{ scope.row.quantity }}</span>
                    </div>
                </div>
            </template>
        </el-table-column>
        <el-table-column label="售价" width="120">
            <template #default="scope">
                <div style="align-items: center; justify-content: end; display: flex;">
                    <span class="item-price">
                        ¥{{ (Math.floor((scope.row.quantity * scope.row.price) * 1000 ) / 1000 ).toFixed(2) }}
                    </span>
                </div>
            </template>
        </el-table-column>
    </el-table>
    </div>
    <div class="checkout-button">
        <el-button type="primary" circle style="width: 60px; height: 60px" @click="showCheckDialog">
            <el-icon style="font-size: 24px">
                <Check />
            </el-icon>
        </el-button>
    </div>

    <div class="add-dialog">
        <el-dialog :title="dialogTitle" v-model="dialogVisible" :fullscreen="true"
                   @close="resetForm">
            <el-form :model="form">
                <el-form-item label="商品名称" prop="name"
                              :rules="[{ required: true, message: '请输入商品名称', trigger: 'blur' }]">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="数量" prop="quantity"
                              :rules="[{ required: true, message: '请输入数量', trigger: 'blur' }]">
                    <el-input-number v-model="form.quantity" :min="0"></el-input-number>
                </el-form-item>
                <el-form-item label="单价" prop="price"
                              :rules="[{ required: true, message: '请输入商品单价', trigger: 'blur' }]">
                    <el-input-number v-model="form.price" :min="0"></el-input-number>
                </el-form-item>
                <el-form-item label="条码">
                    <div style="display: flex; flex-direction: row; margin-bottom: 10px">
                        <el-input v-model="form.barcode" placeholder="请扫描商品条码"
                                  readonly style="margin-right: 5px; width: 60vw"></el-input>
                        <el-button type="primary" @click="startScan">扫描条码</el-button>
                    </div>
                    <!-- 扫码区域 -->
                    <div v-if="isScanning" style="width: 100%; height: 300px; position: relative; display: flex; flex-direction: column">
                        <qrcode-stream :paused="isPaused" :formats="['code_128', 'ean_13', 'upc_a']" @detect="onDetect"
                                       @camera-on="onReady" @error="onError" :torch="flashOn"></qrcode-stream>
                        <el-button @click="toggleFlash" type="primary" style="margin-top: 10px">手电筒</el-button>
                    </div>
                </el-form-item>
                <el-divider></el-divider>
                <el-form-item label="总计金额">
                    <p style="margin: 0; font-size: 20px; font-weight: bold; color: #fb4646;">{{ formTotalPrice }}</p>
                </el-form-item>
            </el-form>
            <template #footer>
                <el-button @click="resetForm">取消</el-button>
                <el-button type="primary" @click="submitForm">确认</el-button>
            </template>
        </el-dialog>
    </div>
    <div>
        <el-button style="display: none" type="primary" @click="ruleDialogVisible = true">自定义电子秤</el-button>
        <el-dialog title="自定义电子秤" v-model="ruleDialogVisible" :fullscreen="true">
            <el-form :model="ruleForm">
                <el-form-item label="示例条码">
                    <el-input v-model="ruleForm.exampleBarcode" placeholder="请输入符合规则的条码"></el-input>
                </el-form-item>
                <el-form-item label="条码长度">
                    <el-input disable v-model="ruleForm.exampleBarcode.length"></el-input>
                </el-form-item>
                <el-divider></el-divider>
                <el-form-item label="标识位">
                    <el-switch disabled v-model="trueValue"></el-switch>
                    <span class="input-span">第</span>
                    <el-input-number :controls="false" class="input-item" v-model="ruleForm.markPos1" :min="1"></el-input-number>
                    <span class="input-span">位 ~ 第</span>
                    <el-input-number :controls="false" class="input-item" v-model="ruleForm.markPos2" :min="1"></el-input-number>
                    <span class="input-span">位</span>
                    <el-tag style="margin-left: 10px">{{ ruleForm.exampleBarcode.slice(ruleForm.markPos1-1,ruleForm.markPos2) }}</el-tag>
                </el-form-item>
                <el-form-item label="货号位">
                    <el-switch disabled v-model="trueValue"></el-switch>
                    <span class="input-span">第</span>
                    <el-input-number :controls="false" class="input-item" v-model="ruleForm.goodsPos1" :min="1"></el-input-number>
                    <span class="input-span">位 ~ 第</span>
                    <el-input-number :controls="false" class="input-item" v-model="ruleForm.goodsPos2" :min="1"></el-input-number>
                    <span class="input-span">位</span>
                    <el-tag style="margin-left: 10px">{{ ruleForm.exampleBarcode.slice(ruleForm.goodsPos1-1,ruleForm.goodsPos2) }}</el-tag>
                </el-form-item>
                <el-form-item label="重量位">
                    <el-switch v-model="ruleForm.ifWeight"></el-switch>
                    <el-row v-if="ruleForm.ifWeight">
                        <span class="input-span">第</span>
                        <el-input-number :controls="false" class="input-item" v-model="ruleForm.weightPos1" :min="1"></el-input-number>
                        <span class="input-span">位 ~ 第</span>
                        <el-input-number :controls="false" class="input-item" v-model="ruleForm.weightPos2" :min="1"></el-input-number>
                        <span class="input-span">位</span>
                        <el-tag style="margin-left: 10px">{{ ruleForm.exampleBarcode.slice(ruleForm.weightPos1-1,ruleForm.weightPos2) }}</el-tag>
                    </el-row>
                </el-form-item>
                <el-form-item label="金额位">
                    <el-switch v-model="ruleForm.ifPrice"></el-switch>
                    <el-row v-if="ruleForm.ifPrice">
                        <span class="input-span">第</span>
                        <el-input-number :controls="false" class="input-item" v-model="ruleForm.pricePos1" :min="1"></el-input-number>
                        <span class="input-span">位 ~ 第</span>
                        <el-input-number :controls="false" class="input-item" v-model="ruleForm.pricePos2" :min="1"></el-input-number>
                        <span class="input-span">位</span>
                        <el-tag style="margin-left: 10px">{{ ruleForm.exampleBarcode.slice(ruleForm.pricePos1-1,ruleForm.pricePos2) }}</el-tag>
                    </el-row>
                </el-form-item>
                <el-form-item label="单价位">
                    <el-switch v-model="ruleForm.ifUnitPrice"></el-switch>
                    <el-row v-if="ruleForm.ifUnitPrice">
                        <span class="input-span">第</span>
                        <el-input-number :controls="false" class="input-item" v-model="ruleForm.unitPricePos1" :min="1"></el-input-number>
                        <span class="input-span">位 ~ 第</span>
                        <el-input-number :controls="false" class="input-item" v-model="ruleForm.unitPricePos2" :min="1"></el-input-number>
                        <span class="input-span">位</span>
                        <el-tag style="margin-left: 10px">{{ ruleForm.exampleBarcode.slice(ruleForm.unitPricePos1-1,ruleForm.unitPricePos2) }}</el-tag>
                    </el-row>
                </el-form-item>
                <el-form-item label="校验位">
                    <el-switch v-model="ruleForm.ifCheck"></el-switch>
                    <el-row v-if="ruleForm.ifCheck">
                        <span class="input-span">第</span>
                        <el-input-number :controls="false" class="input-item" v-model="ruleForm.checkPos1" :min="1"></el-input-number>
                        <span class="input-span">位 ~ 第</span>
                        <el-input-number :controls="false" class="input-item" v-model="ruleForm.checkPos2" :min="1"></el-input-number>
                        <span class="input-span">位</span>
                        <el-tag style="margin-left: 10px">{{ ruleForm.exampleBarcode.slice(ruleForm.checkPos1-1,ruleForm.checkPos2) }}</el-tag>
                    </el-row>
                </el-form-item>
                <el-divider></el-divider>
                <p>按照上述自定义规则，解析示例条码信息：</p>
                <el-form-item label="货号">
                    <span>{{ ruleForm.exampleBarcode.slice(ruleForm.goodsPos1-1,ruleForm.goodsPos2) }}</span>
                </el-form-item>
                <el-form-item label="单价" v-if="ruleForm.ifUnitPrice">
                    <span>{{ computedUnitPrice }}</span>
                </el-form-item>
                <el-form-item label="重量" v-if="ruleForm.ifWeight">
                    <span>{{ computedWeight }} kg</span>
                </el-form-item>
                <el-form-item label="价格" v-if="ruleForm.ifPrice">
                    <span>{{ computedPrice }} 元</span>
                </el-form-item>
            </el-form>
            <template #footer>
                <el-button @click="cancelRuleForm">取消</el-button>
                <el-button type="primary" @click="submitRuleForm">确认</el-button>
            </template>
        </el-dialog>
    </div>
    <div class="discount-dialog">
        <el-dialog title="优惠设置" v-model="discountDialogVisible" :fullscreen="true">
            <el-form :model="discountForm">
                <el-form-item label="按折扣">
                    <div>
                        <span class="input-span">优惠至原价的</span>
                        <el-input-number :controls="false" v-model="discountForm.percentDiscount"
                                         :max="100" :min="0.01" style="width: 60px">
                        </el-input-number>
                        <span class="input-span">%</span>
                        <div class="discount-buttons">
                            <el-button size="small" @click="discountForm.percentDiscount = 10">一折</el-button>
                            <el-button size="small" @click="discountForm.percentDiscount = 20">二折</el-button>
                            <el-button size="small" @click="discountForm.percentDiscount = 30">三折</el-button>
                            <el-button size="small" @click="discountForm.percentDiscount = 40">四折</el-button>
                            <el-button size="small" @click="discountForm.percentDiscount = 50">五折</el-button>
                            <el-button size="small" @click="discountForm.percentDiscount = 60">六折</el-button>
                            <el-button size="small" @click="discountForm.percentDiscount = 70">七折</el-button>
                            <el-button size="small" @click="discountForm.percentDiscount = 80">八折</el-button>
                            <el-button size="small" @click="discountForm.percentDiscount = 90">九折</el-button>
                            <el-button size="small" @click="discountForm.percentDiscount = 100">原价</el-button>
                        </div>
                    </div>
                </el-form-item>
                <el-form-item label="按满减">
                    <div style="width: 100%">
                        <span class="input-span">满</span>
                        <el-input-number disabled style="width: 70px" :controls="false" :min="0" v-model="discountForm.amountOver"></el-input-number>
                        <span class="input-span">减</span>
                        <el-input-number disabled style="width: 70px" :controls="false" :min="0" v-model="discountForm.amountDiscount"></el-input-number>
                    </div>
                    <div class="discount-buttons" style="width: 100%; margin-top: 10px">
                        <el-button size="small" disabled @click="discountForm.amountOver=50">50减10</el-button>
                        <el-button size="small" disabled @click="discountForm.amountOver=100">100减20</el-button>
                    </div>
                    <span style="color: #999;">*暂不支持满减优惠设置</span>
                </el-form-item>
            </el-form>
            <template #footer>
                <el-button @click="cancelDiscountForm">取消</el-button>
                <el-button type="primary" @click="submitDiscountForm">确定</el-button>
            </template>
        </el-dialog>
    </div>
    <div class="check-dialog">
        <el-dialog title="结算" v-model="checkDialogVisible" :fullscreen="true" @close="handleCheckClose">
            <div class="check-receipt">
                <div class="check-title">
                    <span style="width: 55%">商品</span>
                    <span style="width: 15%">单价</span>
                    <span style="width: 15%">数量</span>
                    <span style="width: 15%">小计</span>
                </div>
                <div style="overflow-y: scroll; scrollbar-width: none; height: 65vh;">
                    <div v-for="(item, index) in shoppingList" :key="index" class="check-detail">
                        <div class="basic-info">
                            <span style="width: 55%">{{ item.name }}</span>
                            <span style="width: 15%">{{ item.price.toFixed(2) }}</span>
                            <span style="width: 15%">{{ item.quantity.toFixed(3) }}</span>
                            <span style="width: 15%" :class="checkPriceClass">{{ (Math.floor((item.price * item.quantity) * 1000) / 1000).toFixed(2) }}</span>
                        </div>
                        <div class="extra-info" v-if="ifDiscount">
                            <span style="width: 85%"></span>
                            <span style="width: 15%; font-weight: bold">{{ (Math.floor((item.price * item.quantity) * 1000) / 1000 * discountPercent / 100).toFixed(2) }}</span>
                        </div>
                    </div>
                </div>
                <el-divider style="margin-top: 10px; margin-bottom: 10px;"></el-divider>
                <div class="check-result">
                    <span style="width: 83%; font-weight: bold">总计</span>
                    <span style="width: 17%">
                        <el-statistic class="check-cash-extra" :value="totalPrice" :precision="2"
                                      group-separator="," decimal-separator="." v-if="ifDiscount">
                        </el-statistic>
                        <el-statistic class="check-cash" :value="realTotalPrice" :precision="2"
                                      group-separator="," decimal-separator=".">
                        </el-statistic>
                    </span>
                </div>
            </div>
            <div class="check-options">
                <el-button type="primary" @click="payInCash">现金结账</el-button>
                <el-button type="primary" @click="payOnline">线上支付</el-button>
                <el-button type="primary" @click="payWithCard">预付卡支付</el-button>
            </div>
            <div class="check-input">
                <div v-if="showCashInput" style="margin-top: 20px; display: flex; flex-direction: row; justify-content: center">
                    <div style="width: 50%">
                        <span class="input-span" style="font-weight: bold;">支付现金: </span>
                        <el-input-number :controls="false" style="width: 80px" v-model="cashInput" placeholder="金额" :min="realTotalPrice" :precision="2"></el-input-number>
                        <span class="input-span" style="margin-left: 5px">元</span>
                    </div>
                    <span style="margin-left: 10px; margin-top: 5px; font-weight: bold;">找零: {{ (cashInput - Math.floor(realTotalPrice * 1000) / 1000).toFixed(2) }}元</span>
                </div>
                <div v-if="showCardInput" style="margin-top: 20px; display: flex; flex-direction: row; justify-content: center">
                    <div style="width: 50%">
                        <span class="input-span" style="font-weight: bold;">预付卡余额: </span>
                        <el-input-number :controls="false" style="width: 80px" v-model="cardInput" placeholder="金额" :min="0" :precision="2"></el-input-number>
                        <span class="input-span" style="margin-left: 5px">元</span>
                    </div>
                    <span style="margin-left: 10px; margin-top: 5px; font-weight: bold;">现余额: {{ (cardInput - Math.floor(realTotalPrice * 1000) / 1000).toFixed(2) }}元</span>
                </div>
            </div>
        </el-dialog>
    </div>
</div>

<script>
    const { createApp, ref, reactive, onMounted, computed } = Vue;
    const { ElMessage, ElMessageBox } = ElementPlus;
    const { QrcodeStream } = window.VueQrcodeReader;
    const app = createApp({
        setup() {
            const totalPrice = ref(0);
            const currentIndex = ref(0);
            const shoppingList = reactive([]);
            const dialogVisible = ref(false);
            const dialogTitle = ref('添加商品');
            const discountDialogVisible = ref(false);
            const ruleDialogVisible = ref(false);
            const checkDialogVisible = ref(false);
            const isEditing = ref(false);
            const isScanning = ref(false);
            const isPaused = ref(false);
            const discountPercent = ref(100);
            const discountAmountOver = ref(0);
            const discountAmount = ref(0);
            const flashOn = ref(false);
            const trueValue = ref(true);
            const showCashInput = ref(false);
            const cashInput = ref(0);
            const showCardInput = ref(false);
            const cardInput = ref(0);
            const form = reactive({
                name: '',
                quantity: 1,
                price: 0.00,
                barcode: '',
            });
            const ruleForm = reactive({
                exampleBarcode: '',
                markPos1: 1,
                markPos2: 1,
                markRule: '',
                goodsPos1: 3,
                goodsPos2: 7,
                pricePos1: 8,
                pricePos2: 12,
                ifPrice: true,
                weightPos1: 13,
                weightPos2: 17,
                ifWeight: false,
                unitPricePos1: 1,
                unitPricePos2: 1,
                ifUnitPrice: false,
                checkPos1: 13,
                checkPos2: 13,
                ifCheck: true,
            });
            const discountForm = reactive({
                percentDiscount: 100,
                amountOver: 0,
                amountDiscount: 0,
            });

            function showDiscountDialog() {
                discountDialogVisible.value = true;
            }

            function showAddDialog() {
                dialogTitle.value = '添加商品';
                isEditing.value = false;
                dialogVisible.value = true;
            }

            function showEditDialog(item, index) {
                dialogTitle.value = '编辑商品';
                isEditing.value = true;
                currentIndex.value = index;
                form.name = item.name;
                form.quantity = item.quantity;
                form.price = item.price;
                form.barcode = item.barcode;
                dialogVisible.value = true;
            }

            function showCheckDialog() {
                checkDialogVisible.value = true;
            }

            function getShoppingListFromLocalStorage() {
                const shoppingListJson = localStorage.getItem('shoppingList');
                if (shoppingListJson) {
                    return JSON.parse(shoppingListJson); // 如果存在，返回解析后的购物清单
                }
                return []; // 如果没有存储购物清单，返回空数组
            }

            function setShoppingListToLocalStorage() {
                const shoppingListJson = JSON.stringify(shoppingList); // 将购物清单转换为 JSON 字符串
                localStorage.setItem('shoppingList', shoppingListJson); // 存储到 localStorage
            }

            function updatePrice() {
                totalPrice.value = 0;
                shoppingList.forEach(item => {
                    const addedPrice = parseFloat((Math.floor((item.quantity * item.price) * 1000) / 1000).toFixed(2));
                    console.log(addedPrice);
                    totalPrice.value += addedPrice;
                })
            }

            function resetForm() {
                dialogVisible.value = false;
                isPaused.value = true;
                isScanning.value = false;
                form.name = '';
                form.quantity = 1;
                form.price = 0.00;
                form.barcode = '';
            }

            function submitForm() {
                if (isEditing.value) {  // 如果是编辑状态
                    if (currentIndex.value !== undefined) {
                        shoppingList[currentIndex.value] = { ...form };  // 使用 form 数据替换对应项
                        ElMessage.success('商品编辑成功！');
                    }
                } else {    // 如果是新增操作
                shoppingList.push({ ...form });
                ElMessage.success('商品添加成功！');
                }
                updatePrice();
                dialogVisible.value = false;
                setShoppingListToLocalStorage();
                resetForm();
            }

            function payInCash() {
                ElMessage.success('现金支付');
                showCashInput.value = true;
                showCardInput.value = false;
            }

            function payWithCard() {
                ElMessage.success('预付卡支付');
                showCardInput.value = true;
                showCashInput.value = false;
            }

            function payOnline() {
                ElMessage.success('在线支付');
                showCardInput.value = false;
                showCashInput.value = false;
                console.log('pay online.')
            }

            function cancelDiscountForm() {
                discountDialogVisible.value = false;
            }

            function submitDiscountForm() {
                discountDialogVisible.value = false;
                discountPercent.value = discountForm.percentDiscount;
                discountAmountOver.value = discountForm.amountOver;
                discountAmount.value = discountForm.amountDiscount;
                ElMessage.success('折扣已设置！');
            }

            function getAvatarColor() {
                return `#${Math.floor(Math.random() * 16777215).toString(16).padStart(6, '0')}`;
            }

            function handleCheckClose() {
                showCashInput.value = false;
                showCardInput.value = false;
                cashInput.value = 0;
                cardInput.value = 0;
            }

            function deleteItem(row, index) {
                ElMessageBox.confirm(
                    `确定要删除 ${row.name} 吗？`,
                    "提示",
                    {
                        confirmButtonText: "删除",
                        cancelButtonText: "取消",
                        type: "warning",
                    }
                ).then(() => {
                    console.log(index);
                    shoppingList.splice(index, 1);
                    updatePrice();
                    setShoppingListToLocalStorage();
                    ElMessage.success("删除成功！");
                }).catch(() => {});
            }

            function cleanList() {
                ElMessageBox.confirm(
                    "确定要清空购物清单吗？",
                    "提示",
                    {
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        type: "warning",
                    }
                ).then(() => {
                    shoppingList.splice(0, shoppingList.length);
                    updatePrice();
                    setShoppingListToLocalStorage();
                    ElMessage.success("购物清单已清空！");
                }).catch(() => {});
            }


            function showScanDialog() {
                dialogVisible.value = true;
                isEditing.value = false;
                startScan();
            }

            const toggleFlash = () => {
                flashOn.value = !flashOn.value;
                console.log('flash is now toggled.');
            }

            const onReady = (capabilities) => {
                console.log('摄像头已准备好:', capabilities);
            }

            const onError = (error) => {
                console.error("扫码器错误：", error);
                if (error.name === 'NotAllowedError') {
                    ElMessage.error('用户拒绝了摄像头权限，请允许访问摄像头');
                } else if (error.name === 'NotFoundError') {
                    ElMessage.error('未找到合适的摄像头设备');
                } else if (error.name === 'NotSupportedError') {
                    ElMessage.error('请使用 HTTPS 或 localhost 访问本页面');
                } else if (error.name === 'NotReadableError') {
                    ElMessage.error('摄像头正在使用中，请关闭其他应用或重新启动浏览器');
                } else if (error.name === 'OverconstrainedError') {
                    ElMessage.error('前置摄像头不可用');
                } else if (error.name === 'StreamApiNotSupportedError') {
                    ElMessage.error('浏览器不支持相关功能');
                }
            }

            const onDetect = (detectedCodes) => {
                if (detectedCodes && detectedCodes.length > 0) {
                    const code = detectedCodes[0].rawValue;
                    form.barcode = code;
                    console.log("扫描到条码: ", code);

                    fetchProductInfo(code).then(productInfo => {
                        if (productInfo) {
                            form.name = productInfo.goodsName;
                            form.price = parseFloat(productInfo.price);
                            form.quantity = parseFloat(productInfo.quantity);
                        }
                    });
                    stopScan();
                }
            }

            function startScan() {
                isScanning.value = true;
                isPaused.value = false;
                console.log('开始扫码');
            }

            function stopScan() {
                isScanning.value = false;
                isPaused.value = true;
                console.log('停止扫码');
            }

            async function fetchProductInfo(barcode) {
                if (barcode.length === 13) {
                    // 匹配大部分商场电子秤
                    if (barcode[0] === '2') {
                        if (barcode[1] === '5' && barcode.substring(8, 12) === '0000') {
                            // 匹配麦德龙特殊编码
                            console.log('麦德龙无法解析');
                            return {
                                goodsName: '电子秤' + barcode.substring(2, 8),
                                price: 0.0,
                                quantity: 1
                            }
                        }
                        return {
                            goodsName: '电子秤' + barcode.substring(2, 7),
                            price: parseFloat(barcode.substring(7, 12)) / 100,
                            quantity: 1
                        };
                    } else {
                        const appId = '1y9qomhkrojpgnid';
                        const appSecret = 'dWM72BIOZ3EOA3yVgOXGfsSCvv8rwUsC';
                        const url = `https://www.mxnzp.com/api/barcode/goods/details?barcode=${barcode}&app_id=${appId}&app_secret=${appSecret}`;

                        try {
                            const response = await fetch(url);
                            const data = await response.json();
                            if (data.code === 1) {
                                return {
                                    goodsName: data.data.goodsName,
                                    price: data.data.price,
                                    quantity: 1
                                };
                            }
                            return { goodsName: '', price: 0.0, quantity: 1 };  // 如果未找到商品信息，返回空数据
                        } catch (err) {
                            console.error('Error fetching product info:', err);
                            return { goodsName: '', price: 0.0, quantity: 1 };  // 捕获错误时返回空数据
                        }
                    }
                } else if (barcode.length === 18) {
                    // 匹配丽达超市、华润、盒马和家家悦电子秤
                    if (barcode[0] === '2') {
                        // 27 23242 03000 00150 5
                        // 22 07721 01469 00294 8
                        // 23 25062 02569 00130 4
                        // 2 182684 02990 00001 4
                        console.log(barcode)
                        const sum_price = parseFloat(barcode.substring(7,12)) / 100;
                        const quantity = parseFloat(barcode.substring(12,17)) / 1000;
                        return {
                            goodsName: '电子秤' + barcode.substring(2,7),
                            price: (sum_price / quantity).toFixed(2),
                            quantity: quantity,
                        };
                    } else {
                        return { goodsName: '', price: 0.0, quantity: 1 };  // 如果未找到商品信息，返回空数据
                    }
                } else if (barcode.length === 20) {
                    // 匹配利群超市电子秤
                    if (barcode[0] === '2') {
                        // 28 98059 000204 002444 1
                        // 28 09824 000242 002899 1
                        console.log(barcode)
                        const sum_price = parseFloat(barcode.substring(13, 19)) / 100;
                        const quantity = parseFloat(barcode.substring(7, 13)) / 1000;
                        return {
                            goodsName: '电子秤' + barcode.substring(2, 7),
                            price: (sum_price / quantity).toFixed(2),
                            quantity: quantity,
                        }
                    } else {
                        return {goodsName: '', price: 0.0, quantity: 1};  // 如果未找到商品信息，返回空数据
                    }
                } else if ( barcode.length === 24 ){
                    // 匹配家家悦日期编码电子秤
                    // 2 202576 00300 0000 14 241113
                    if (barcode[0] === '2') {
                        return {
                            goodsName: '电子秤' + barcode.substring(1, 7),
                            price: parseFloat(barcode.substring(7, 12)) / 100,
                            quantity: 1,
                        }
                    } else {
                        return {goodsName: '', price: 0.0, quantity: 1};  // 如果未找到商品信息，返回空数据
                    }
                } else {
                    // 匹配大润发超市电子秤
                    // 3 4151809 00001 0001600 501001
                    // 20 3830205 00001 0002190 43656
                    if (barcode.length === 26) {
                        if (barcode[0] === '2') {
                            const sum_price = parseFloat(barcode.substring(14,21)) / 100;
                            const quantity = parseFloat(barcode.substring(9,14));
                            return {
                                goodsName: '电子秤' + barcode.substring(2,9),
                                price: (sum_price / quantity).toFixed(2),
                                quantity: quantity,
                            }
                        } else if (barcode[0] === '3') {
                            const sum_price = parseFloat(barcode.substring(13,20)) / 100;
                            const quantity = parseFloat(barcode.substring(8,13));
                            return {
                                goodsName: '电子秤' + barcode.substring(1,8),
                                price: (sum_price / quantity).toFixed(2),
                                quantity: quantity,
                            }
                        } else {
                            return { goodsName: '', price: 0.0, quantity: 1 };  // 如果未找到商品信息，返回空数据
                        }
                    } else {
                        // Ole超市待解析
                        return { goodsName: '', price: 0.0, quantity: 1 };  // 如果未找到商品信息，返回空数据
                    }
                }
            }

            function handleRowClick(row) {
                const index = shoppingList.findIndex(item => item === row);
                ElMessageBox.confirm(
                    `您想对 ${row.name} 进行什么操作？`,
                    '操作',
                    {
                        distinguishCancelAndClose: true,
                        confirmButtonText: '编辑',
                        cancelButtonText: '删除',
                        type: 'info',
                    }
                ).then(() => {
                    showEditDialog(row, index);
                }).catch((action) => {
                    if (action === 'cancel') {
                        deleteItem(row, index);
                    }
                })
            }

            const computedUnitPrice = computed(() => {
                if (!ruleForm.exampleBarcode) return "0.00";
                const priceStr = ruleForm.exampleBarcode.slice(
                    ruleForm.unitPricePos1 - 1,
                    ruleForm.unitPricePos2
                );
                return parseFloat(priceStr) / 100 || "0.00"; // 防止 NaN
            });

            const computedPrice = computed(() => {
                if (!ruleForm.exampleBarcode) return "0.00";
                const priceStr = ruleForm.exampleBarcode.slice(
                    ruleForm.pricePos1 - 1,
                    ruleForm.pricePos2
                );
                return parseFloat(priceStr) / 100 || "0.00"; // 防止 NaN
            });

            const computedWeight = computed(() => {
                if (!ruleForm.exampleBarcode) return "0.000";
                const weightStr = ruleForm.exampleBarcode.slice(
                    ruleForm.weightPos1 - 1,
                    ruleForm.weightPos2
                );
                return parseFloat(weightStr) / 1000 || "0.000"; // 防止 NaN
            });

            const formTotalPrice = computed(() => {
                return (Math.floor((parseFloat(form.price) * parseFloat(form.quantity)) * 1000) / 1000).toFixed(2);
            })

            const discountedPrice = computed(() => {
                const percent = parseFloat(discountPercent.value / 100);
                return (totalPrice.value * percent).toFixed(2);
            })

            const realTotalPrice = computed(() => {
                if (ifDiscount.value)
                    return parseFloat(discountedPrice.value);
                return totalPrice.value;
            })

            const ifDiscount = computed(() => {
               return discountPercent.value < 100 || discountAmount > 0;
            })

            const priceColorClass = computed(() => {
                if (ifDiscount.value)
                    return 'price-green';
                return 'price-black';
            })

            const checkPriceClass = computed(() => {
                if (ifDiscount.value)
                    return 'check-discount-price';
                return 'check-normal-price';
            })

            onMounted(() => {
                const savedList = getShoppingListFromLocalStorage();
                savedList.forEach(item => shoppingList.push(item));
                updatePrice();
                ElMessage.success('购物清单已加载');
            });

            return {
                form,
                totalPrice,
                realTotalPrice,
                priceColorClass,
                checkPriceClass,
                shoppingList,
                flashOn,
                trueValue,
                cashInput,
                showCashInput,
                cardInput,
                showCardInput,
                handleCheckClose,
                payOnline,
                payWithCard,
                payInCash,
                discountAmountOver,
                discountAmount,
                discountPercent,
                discountedPrice,
                toggleFlash,
                showAddDialog,
                showEditDialog,
                showCheckDialog,
                showDiscountDialog,
                showScanDialog,
                handleRowClick,
                updatePrice,
                cleanList,
                cancelDiscountForm,
                submitDiscountForm,
                dialogTitle,
                dialogVisible,
                discountDialogVisible,
                ruleDialogVisible,
                checkDialogVisible,
                ruleForm,
                discountForm,
                computedUnitPrice,
                computedPrice,
                computedWeight,
                formTotalPrice,
                isScanning,
                isPaused,
                ifDiscount,
                startScan,
                stopScan,
                onError,
                onReady,
                onDetect,
                resetForm,
                submitForm,
                getAvatarColor,
            };
        }
    });

    for ([name, comp] of Object.entries(ElementPlusIconsVue)) {
        app.component(name, comp);
    }

    app.component('qrcode-stream', QrcodeStream); // 使用 QrcodeStream 组件
    app.use(ElementPlus, { locale: ElementPlusLocaleZhCn });
    app.mount('#app')
</script>
</body>
</html>
