body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard syntax */
}

.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total-card {
    margin-top: 10px;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.el-card {
    --el-card-border-radius: 15px !important;
    border: 1.5px solid var(--el-card-border-color) !important;
}

.total-card h1 {
    margin: 0;
    font-size: 1.2em;
    color: #555;
}

#big-price .el-statistic__content {
    margin: 5px 0 0;
    font-size: 2.3em;
    font-weight: bolder;
    color: #000;
}


.placeholder {
    font-size: 16px;
    color: #888;
    text-align: center;
    margin-top: 50px;
}

.menu-bar {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.action-btn {
    width: 24px;
    padding: 10px 0;
    border: none;
    background-color: transparent;
    color: #0077de;
    cursor: pointer;
}

.item-info {
    display: flex;
    flex-direction: column;
    max-width: 170px
}

.item-info .item-name {
    font-size: 1.1em;
}

.item-info .item-quantity {
    font-size: 0.9em;
    color: #999;
}

.item-price {
    font-size: 19px;
    color: #fb4646;
    font-weight: bold;
}

.el-table__header-wrapper {
    display: none;
}

.el-overlay-dialog {
    height: 96vh;
    top: 4vh !important;
    border-radius: 10px 10px 0 0;
}

.el-form-item .input-span {
    margin-left: 5px;
    margin-right: 5px;
}

.el-form-item .input-item {
    width: 50px;
}

.discount-price * {
    margin-top: 0 !important;
}

.discount-price span {
    font-size: 16px !important;
    font-weight: normal;
    text-decoration: line-through;
    color: #999;
}

.price-green span {
    color: #4e8e2f;
}

.price-black span {
    color: #000;
}

.discount-buttons {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.discount-buttons button {
    margin-bottom: 5px;
    margin-left: 0 !important;
    margin-right: 5px;
}

.checkout-button {
    position: fixed;
    bottom: 55px;
    left: 78vw;
    z-index: 2;
    width: 100%;
}

.check-dialog .el-overlay-dialog {
    height: 100vh !important;
    top: 0 !important;
    border-radius: 0;
}